.idea/*
!.idea/runConfigurations
!.idea/runConfigurations/**
.vs
.vscode/compile_commands.json
erhe_cmake_profiling.json
src/editor/user.ini
src/editor/erhe_init_graph.dot
src/editor/cache/bvh/*
src/editor/windows/IconsMaterialDesignIcons.h
src/editor/res/fonts/materialdesignicons-webfont.ttf
src/editor/res/fonts/materialdesignicons.css
!src/editor/cache/bvh/keep
build
cmake-build-*
vscode-cmake-*
log.txt
releases
erhe_cmake_dependencies.dot*
