# erhe configuration file

[imgui]
window_viewport = true
padding         = 2.0
rounding        = 3.0

[window]
show             = true
fullscreen       = false
use_transparency = false
size             = [ 1920, 1080 ]

# Buffer sizes use megabytes as unit
[mesh_memory]
vertex_buffer_size = 1280
index_buffer_size  =  512

# NOTE: Primitive is as GLTF primitive (NOT triangle etc)
[renderer]
max_material_count  = 1000
max_light_count     = 32
max_camera_count    = 256
max_joint_count     = 400
max_primitive_count = 400
max_draw_count      = 400

[camera_controls]
invert_x           = false
invert_y           = false
sensitivity        = 1.0
velocity_damp      = 0.92
velocity_max_delta = 0.004
move_power         = 1000.0
move_speed         = 2.0
turn_speed         = 1.0

#  D e v e l o p e r   S e c t i o n  #
#                                     #
#       ..                            #
#      .::':::. .::::.   .:''.  .     #
#    .::'   '::::::' .:::'    ''      #
#     `     ..:'    ..:'              #
#                                     #
#    H e r e   b e   d r a g o n s    #
[developer]
enable = true

[graphics]
initial_clear                = true
#force_bindless_textures_off  = true
#force_no_persistent_buffers  = true
#force_no_direct_state_access = true
#force_no_multi_draw_indirect = true
#force_gl_version             = 450
#force_glsl_version           = 450

[renderdoc]
capture_support = true

[shader_monitor]
enabled = true

