---
Checks: '
  *,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -readability-math-missing-parentheses,
  -readability-convert-member-functions-to-static,
  -misc-non-private-member-variables-in-classes,
  -*braces-around-statements,
  -readability-implicit-bool-conversion,
  -readability-identifier-length,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -readability-redundant-member-init,
  -readability-redundant-access-specifiers,
  -readability-redundant-string-init,
  -misc-use-anonymous-namespace,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay, -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  -hicpp-named-parameter, -readability-named-parameter,
  -misc-no-recursion,
  -performance-no-automatic-move,
  -cppcoreguidelines-pro-type-vararg, -hicpp-vararg,
  -google-runtime-references,
  -fuchsia-default-arguments-*,
  -fuchsia-overloaded-operator,
  -fuchsia-trailing-return,
  -hicpp-uppercase-literal-suffix, -readability-uppercase-literal-suffix,
  -abseil-*,
  -altera-*,
  -android-*,
  -boost-*,
  -linuxkernel-*,
  -llvm-*,
  -llvmlibc-*,
  -mpi-*,
  -objc-*,
  -openmp-*,
  -zircon-*,
'